# Configuration file

####################
# penguin
####################

penguin {
    S:biomegroups <PENGUIN_DEFAULT>
    B:canSpawn=true
    I:frequency=2
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=5
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


