libraries
crash-reports
logs
world*
cache
version*

banned*
ops.json
whitelist.json
usercache.json
usernamecache.json

jdk-*

plugins/spark*
plugins/bStats*
plugins/.paper-remapped
plugins/GriefPreventionData
