libraries
crash-reports
logs
world*
cache
version*

banned*
ops.json
whitelist.json
usercache.json
usernamecache.json
.console-history
server.properties

jdk-*

plugins/spark*
plugins/bStats*
plugins/.paper-remapped
plugins/GriefPreventionData
plugins/LuckPerms/libs*